#include <wx/msw/wx.rc>
#include "Generated/Version.rc"

APP_ICON_SMALL ICON "Icons/App16.ico"
APP_ICON_BIG ICON "Icons/App32.ico"
MAIN_WHERE RCDATA "Icons/Map-32x20.png"
MAIN_WHAT RCDATA "Icons/What-32x20.png"
MAIN_JOBLIST RCDATA "Icons/Job-list-32x20.png"
MAIN_HELP RCDATA "Icons/Help-32x20.png"
MAIN_LOGOUT RCDATA "Icons/Exit-32x20.png"
MAIN_LOGIN RCDATA "Icons/Enter-32x20.png"
MAIN_USER RCDATA "Icons/user-blue-40.png"
MAIN_PRINT_OFFICE RCDATA "Icons/Print-office-40x40.png"
MAIN_PRINT_OFFICE_GRAY RCDATA "Icons/Print-office-gray-40x40.png"
OFFICE_LOCATION RCDATA "Icons/Location-32x32.png"
OFFICE_PHONE RCDATA "Icons/Call-20x20.png"
RATING_STAR RCDATA "Icons/Star-16x16.png"
RATING_STAR_PALE RCDATA "Icons/Star-pale-16x16.png"
CONTENT_IMAGE RCDATA "Icons/images32x32.png"
CONTENT_PDF RCDATA "Icons/pdf32x32.png"